---
---

*{
  box-sizing:border-box;
}

body, html{
  height:100%;
  position:relative;
  margin:0;
}

header{
  position:fixed;
  height:100%;
  width:25%;
  top:0;
  left:0;
  background:#DC322E;
  &, & > .bottom{
    padding:1em;
  }
}

.bottom{
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  a{
    color: #fff;
    font-size:4em;
    text-decoration:none;
    font-family:monospace;
    font-weight:bold;
    display:block;
    line-height:1;
  }
}

[role="main"]{
  padding:2em;
  margin-left:25%;
}
