<!DOCTYPE html>
<html>

  <head>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/main.css'>
    <meta charset='utf8'>
  </head>

  <body>
    <header>
      <a href='/'>git.<br>camp</a>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about/'>About</a></li>
        <li><a href='/feed.xml'>RSS</a></li>
        <li><a href='https://github.com/jshawl/git.camp'>View Source</a></li>
      </ul>
    </header>
    <section role="main">
        {{ content }}
    </section>
  </body>

</html>
