<!DOCTYPE html>
<html>

  <head>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/main.css'>
    <meta charset='utf8'>
    <title>Git Camp | {{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Git camp is a collection of screencasts aimed at helping you up your git skills.">
  </head>

  <body>
    <header>
      <h1><a href='/'>git.<br>camp</a></h1>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/purpose/'>About</a></li>
        <li><a href='/feed.xml'>RSS</a></li>
        <li><a href='https://github.com/gitcamp/git.camp'>View Source</a></li>
      </ul>
    </header>
    <section role="main">
        {{ content }}
    </section>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
	var t   = document.createElement('script');
	t.type  = 'text/javascript';
	t.async = true;
	t.id    = 'gauges-tracker';
	t.setAttribute('data-site-id', '5484f7e78bfdf773d7040a4d');
	t.src = '//secure.gaug.es/track.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>

</html>
