---
layout: default
---

  <article class="post-content">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {{ content }}
  </article>

  <p class='ask'>Is there a topic you’d like to see covered in the future? 
  Let me know by opening up an <a href='https://github.com/gitcamp/git.camp/issues'>issue on GitHub</a>.
  Thanks for watching!
  </p>

